.gallery {
  @include section;
  background-image: linear-gradient(0deg, rgba(248, 248, 248, 1), rgba(52, 194, 237, 1) 100%, rgba(217, 239, 246, 1) 65%);

  &__inner {
    @include inner;
  }

  &__content {
    box-sizing: border-box;
    margin-top: 35px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: vw(10);

  }

  &__image {
    width:calc(100%/3 - vw(25));
    border: 5px solid $white;

    img {
      transition: all 0.5s;
      
      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
