// color
$white: #fff;
$black: #000;
$gray: #515a7b;

// メインカラー
$main-pink: #ff5a89; 
// 255, 90, 137, 1 → 245, 200, 212, 1
$main-blue: #34c2ed;
// 52, 194, 237, 1 → 217, 239, 246, 1 → 248, 248, 248, 1
// 0 63 100
$main-yellow: #ffd643;
// 255, 214, 67, 1 → 255, 217, 79, 1
// → 255, 233, 151, 1 → 255, 240, 183, 1
// 0 35 65 97

// サブカラー
$sub-blue: #3a54b2;
$sub-pink: #e03b80;

// 角丸
$radius1: 8px;
$radius2: 16px;
$radius3: 24px;

// 行間
$line1: 1;
$line2: 1.25;
$line3: 1.34;
$line4: 1.5;
$line5: 1.67;
$line6: 1.75;
$line7: 2;